services:
  adminer:
    image: adminer
    restart: always
    environment:
      ADMINER_DESIGN: lavender-light
    ports:
      - 8008:8080

  db:
    image: postgres:alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: glossary_dev
    ports:
      - 5432:5432
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
