/* See the Tailwind configuration guide for advanced usage
   https://tailwindcss.com/docs/configuration */

@import "tailwindcss" source(none);

@source "../css";
@source "../js";
@source "../../lib/glossary_web";

/* A Tailwind plugin that makes "hero-#{ICON}" classes available.
   The heroicons installation itself is managed by your mix.exs */
@plugin "../vendor/heroicons";

/* daisyUI Tailwind Plugin. You can update this file by fetching the latest version with:
   curl -sLO https://github.com/saadeghi/daisyui/releases/latest/download/daisyui.js
   Make sure to look at the daisyUI changelog: https://daisyui.com/docs/changelog/ */
@plugin "../vendor/daisyui" {
  themes: false;
}

/* daisyUI theme plugin. You can update this file by fetching the latest version with:
  curl -sLO https://github.com/saadeghi/daisyui/releases/latest/download/daisyui-theme.js
  We ship with two themes, a light one inspired on Phoenix colors and a dark one inspired
  on Elixir colors. Build your own at: https://daisyui.com/theme-generator/ */
@plugin "../vendor/daisyui-theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(9.5% 0.015 316.3);
  --color-base-200: oklch(0.264 0.078 313.5);
  --color-base-300: oklch(0.299 0.092 314.3);
  --color-base-content: oklch(94.3% 0.021 316.5);
  --color-primary: oklch(76.3% 0.095 314.9);
  --color-primary-content: oklch(9.5% 0.015 316.3);
  --color-secondary: oklch(83% 0.145 321.434);
  --color-secondary-content: oklch(9.5% 0.015 316.3);
  --color-accent: oklch(62.5% 0.153 314.3);
  --color-accent-content: oklch(9.5% 0.015 316.3);
  --color-neutral: oklch(22.8% 0.062 314.8);
  --color-neutral-content: oklch(94.3% 0.021 316.5);
  --color-info: oklch(73% 0.085 283.3);
  --color-info-content: oklch(9.5% 0.015 316.3);
  --color-success: oklch(75.8% 0.104 137);
  --color-success-content: oklch(9.5% 0.015 316.3);
  --color-warning: oklch(83% 0.128 66.29);
  --color-warning-content: oklch(9.5% 0.015 316.3);
  --color-error: oklch(64.5% 0.141 350.5);
  --color-error-content: oklch(9.5% 0.015 316.3);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.28125rem;
  --size-field: 0.28125rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "../vendor/daisyui-theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(0.978 0.008 319.4);
  --color-base-200: oklch(0.908 0.034 316.9);
  --color-base-300: oklch(0.837 0.061 316.4);
  --color-base-content: oklch(0.096 0.018 309.8);
  --color-primary: oklch(0.763 0.095 314.9);
  --color-primary-content: oklch(0.095 0.015 316.3);
  --color-secondary: oklch(83% 0.145 321.434);
  --color-secondary-content: oklch(0.095 0.015 316.3);
  --color-accent: oklch(0.625 0.153 314.3);
  --color-accent-content: oklch(0.095 0.015 316.3);
  --color-neutral: oklch(0.228 0.062 314.8);
  --color-neutral-content: oklch(0.943 0.021 316.5);
  --color-info: oklch(0.73 0.085 283.3);
  --color-info-content: oklch(0.095 0.015 316.3);
  --color-success: oklch(0.758 0.104 137);
  --color-success-content: oklch(0.095 0.015 316.3);
  --color-warning: oklch(83% 0.128 66.29);
  --color-warning-content: oklch(0.095 0.015 316.3);
  --color-error: oklch(0.645 0.141 350.5);
  --color-error-content: oklch(0.095 0.015 316.3);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.28125rem;
  --size-field: 0.28125rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@layer components {
  /* Custom styling for TipTap components */
  .tiptap {
    /* First child margin reset */
    :first-child {
      margin-top: 0;
    }

    /* Placeholder */
    p.is-editor-empty:first-child::before {
      @apply text-base-content/15 float-left h-0 pointer-events-none;
      content: attr(data-placeholder);
    }

    /* Lists */
    ul {
      @apply list-disc list-outside;
      padding: 0 1rem;
      margin: 0rem 1rem 0rem 0.4rem;

      ul {
        @apply list-[circle] list-outside;

        ul {
          @apply list-[square] list-outside;
        }
      }

      li p {
        margin-top: 0.25em;
        margin-bottom: 0.25em;
      }
    }

    ol {
      @apply list-decimal list-outside;
      padding: 0 1rem;
      margin: 0rem 1rem 0rem 0.4rem;

      ol {
        @apply list-[lower-alpha] list-outside;

        ol {
          @apply list-[lower-roman] list-outside;
        }
      }

      li p {
        margin-top: 0.25em;
        margin-bottom: 0.25em;
      }
    }

    /* Code (Mark) */
    code {
      @apply bg-transparent text-inherit p-0;
      padding-inline: 0.25em !important;
    }

    /* CodeBlock (Node) */
    pre {
      @apply bg-neutral rounded-md text-neutral-content font-mono my-2 px-3 py-2;

      code {
        @apply bg-transparent text-inherit text-sm p-0;
      }
    }
  }
}

/* Add variants based on LiveView classes */
@custom-variant phx-click-loading (.phx-click-loading&, .phx-click-loading &);
@custom-variant phx-submit-loading (.phx-submit-loading&, .phx-submit-loading &);
@custom-variant phx-change-loading (.phx-change-loading&, .phx-change-loading &);

/* Use the data attribute for dark mode  */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Make LiveView wrapper divs transparent for layout */
[data-phx-session],
[data-phx-teleported-src] {
  display: contents;
}

/* This file is for your main application CSS */

/* Prevent vertical scrolling at top level */
html,
body {
  height: 100%;
  overflow: hidden;
}
