/* Tiptap editor styles */
.tiptap-editor {
  min-height: 200px;
}

.tiptap-editor .ProseMirror {
  outline: none;
  min-height: 180px;
}

.tiptap-editor .ProseMirror p {
  margin: 0.5em 0;
}

.tiptap-editor .ProseMirror h1,
.tiptap-editor .ProseMirror h2,
.tiptap-editor .ProseMirror h3 {
  font-weight: 600;
  margin: 1em 0 0.5em;
}

.tiptap-editor .ProseMirror h1 {
  font-size: 1.5em;
}

.tiptap-editor .ProseMirror h2 {
  font-size: 1.25em;
}

.tiptap-editor .ProseMirror h3 {
  font-size: 1.1em;
}

.tiptap-editor .ProseMirror ul,
.tiptap-editor .ProseMirror ol {
  padding-left: 1.5em;
  margin: 0.5em 0;
}

.tiptap-editor .ProseMirror ul {
  list-style-type: disc;
}

.tiptap-editor .ProseMirror ol {
  list-style-type: decimal;
}

.tiptap-editor .ProseMirror blockquote {
  border-left: 3px solid var(--color-base-300);
  padding-left: 1em;
  margin: 0.5em 0;
  color: var(--color-neutral);
}

.tiptap-editor .ProseMirror code {
  background: var(--color-base-200);
  padding: 0.1em 0.3em;
  border-radius: 0.25em;
  font-family: monospace;
}

.tiptap-editor .ProseMirror pre {
  background: var(--color-base-200);
  padding: 0.75em;
  border-radius: 0.5em;
  overflow-x: auto;
  margin: 0.5em 0;
}

.tiptap-editor .ProseMirror pre code {
  background: none;
  padding: 0;
}
